<%= form_for @room, as: :room, url: rooms_path do |f|  %>
  <% if @room.errors.any? %>
    <% @room.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
  <div class="form-group">
  <%= f.text_field :name, placeholder: "Nom de la session", required: true %>
  <%= f.submit value: "Créer une session" %>
  </div>
<% end %>

<%= @session_joining_error%>
<form action="<%= rooms_path + '/join' %>", method="get" do %>
  <input type="text" name="name" placeholder="Nom de la session à rejoindre" required />
  <input type="submit" value="Rejoindre une session" />
</form>
