<h2><%= @room.name %></h2>
<h3>Ajouter une vidéo</h3>

<%= form_for :song, url: "/songs/" + @room.id.to_s, method: :post, remote:(@player.song_id) do |f| %>
  <%= f.text_field :link, placeholder: 'Lien "partager" Youtube', required: true %>
  <%= f.submit value: "Ajouter la video" %>
<% end %>

<h3>Video</h3>

<div id="activatePlayer">
  Lecteur :
  <label class="switch">
    <% if session[:display_video] == true %>
      <input type="checkbox" id="unablePlayer" onchange="triggerPlayer()" checked>
    <% else %>
      <input type="checkbox" id="unablePlayer" onchange="triggerPlayer()">
    <% end %>
    <div class="slider round"></div>
  </label>
<div>

<% if session[:display_video] %>
    <div id="player"></div>
    <%= sync partial: 'player_show', resource: @player %>
<% else %>
  <%= sync partial: 'current_song_title', resource: @player %>
<% end %>


<h3>Playlist</h3>

<%= sync partial: 'playlist', resource: @room %>


<script>

  function triggerPlayer() {
    let display_video = document.getElementById("unablePlayer").checked
    window.location = "<%= '/rooms/join?name=' + @room.name + '&display_video=' %>" + display_video
  }

</script>
