<header class="row">
  <div class="col-lg-12">
    <h1>
      <%= @room.name.capitalize %>
    </h1>
    <div id="user_id" style="visibility: hidden;"><%= session[:user_id] %></div>
    <%= sync partial: 'owner', resource: @room %>
  </div>
</header>


<%= render partial: 'add_video_form', locals: {room_id: @room.id.to_s, song_id: @player.song_id} %>

<%= render partial: 'display_video', locals: {display_video: session[:display_video], player: @player} %>

<% if session[:display_video] == false %>
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
<% else %>
  <div class="col-lg-6">
<% end %>

<%= render partial: 'song_lists', locals: {room: @room} %>

<% if session[:display_video] == false %>
</div>
<div class="col-lg-3"></div>
</div>
<% else %>
</div>
<% end %>
