<div role="tabpanel" class="tab-pane" id="history">
  <table class="table">
    <% room.songs.where(past: true).order("modified_at DESC").each do |song| %>
      <tr class='clickable-row' title='Réécouter' onClick="replay('<%= song.link %>', '<%= room.id.to_s %>')">
        <td><img src="<%= song.thumbnail %>" class="history-thumbnail"</td>
        <td><%= song.name %></td>
      </tr>
    <% end %>
    <script>
    emptyNewSongForm()
    sizeThumbnails()
    updatePlayedSong('<%= room.player_id.to_s %>')
    </script>
  </table>
</div
