<div>
  <div id="current_song">
  <% if !player.song_id %>
    <p>Pas de video en cours de lecture</p>
  </div>
  <% else %>
    <% current_song = Song.find(player.song_id) %>
    <% like_color = current_song.liked ? "red" : "white" %>
    <p><%= "Lecture en cours : " + current_song.name %></p>
    <span id="like" title="Kiffant" onClick="like('<%= player.song_id.to_s %>')" style="color: <%= like_color %>; cursor: pointer; font-size: xx-large;">❤</span>
  </div>
  <%= link_to "Next", "/rooms/next/" + player.room_id.to_s + "?current_song_id=" + player.song_id.to_s %>
  <script>

  var player;
  loadPlayer();

  function loadPlayer() {
    if (typeof(YT) == 'undefined' || typeof(YT.Player) == 'undefined') {
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      window.onYouTubePlayerAPIReady = function() {
        onYouTubePlayer();
      };
    } else {
      onYouTubePlayer();
    }
  }

  function onYouTubePlayer() {
    widthInScreen = 660
    if ($(window).width() < widthInScreen) {
      widthInScreen = $("#add_video").width() - 30
    }
    heightInScreen = widthInScreen * 490 / 880
    player = new YT.Player('player', {
      height: heightInScreen,
      width: widthInScreen,
      videoId: "<%= Song.find(player.song_id).link %>",
      playerVars: { controls:1, showinfo: 0, rel: 0, showsearch: 0, iv_load_policy: 3 },
      events: {
        'onStateChange': onPlayerStateChange,
        'onReady': onPlayerReady,
      }
    });

    function onPlayerReady(event) {
      event.target.playVideo();
    }
  }


    // 5. The API calls this function when the player's state changes.
    //    The function indicates that when playing a video (state=1),
    //    the player should play for six seconds and then stop.
    function onPlayerStateChange(event) {
      if (event.data == YT.PlayerState.ENDED) {
        next()
      }
    }

    function next() {
      $.ajax({
        url: "<%= "/rooms/next/" + player.room_id.to_s + "?current_song_id=" + player.song_id.to_s %>",
        type: "GET",
        success: function(json) {
          if ("lead" in json) {
            setTimeout(next, 5000);
          } else {
            location.reload()
          }
        }
      })
    }

    function like(song_id) {
      $.ajax({
        url: "/songs/" + song_id + "?liked=true",
        type: "PATCH",
        success: () => {
          $("#like").attr("style", "color: red; font-size: xx-large;");
        }
      })
    }
  </script>
  <% end %>
</div>
